<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <!-- This Menu Item must have a parent and an action -->

    <menuitem id="menu_apartment_news_root"
              name="Bản tin"
              web_icon="apartment_news,static/description/menu-icon.png"
              action="action_tb_news"
              sequence="0"/>

</odoo>
