<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <!-- This Menu Item must have a parent and an action -->
    <menuitem id="menu_tb_notification"
              name="Thông báo"
              action="action_tb_notification"
              web_icon="apartment_notifications,static/description/menu-icon.png"
              sequence="0"/>

</odoo>
