<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <!-- This Menu Item must have a parent and an action -->

    <menuitem id="menu_apartment_project_root"
              name="Quản lý dự án"
              web_icon="apartment_project,static/description/menu-icon.png"
              sequence="1"/>

    <menuitem id="menu_blockhouse"
              name="Ql dự án"
              parent="menu_apartment_project_root"
              sequence="1"/>

    <menuitem id="menu_apartment_utilities_and_service"
              name="Dịch vụ và tiện ích"
              parent="menu_apartment_project_root"
              sequence="2"/>

    <menuitem id="menu_parking_and_vehicle"
              name="Quản lý bãi đậu xe và phương tiện"
              parent="menu_apartment_project_root"
              sequence="3"/>

    <menuitem id="menu_apartment_pay_bill"
              name="Cấu hình DM phí và thanh toán"
              parent="menu_apartment_project_root"
              sequence="4"/>

</odoo>
