<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <!-- This Menu Item must have a parent and an action -->

    <menuitem id="menu_resident_root"
              name="Quản lý tài khoản"
              web_icon="resident_management,static/description/menu-icon/users.png"
              sequence="1"/>

    <record id="menu_account_resident" model="ir.ui.menu">
        <field name="name">Nhóm tài khoản cư dân</field>
        <field name="parent_id" ref="menu_resident_root"/>
<!--        <field name="groups_id" eval="[(4, ref('base.group_system')), (4, ref('base.group_erp_manager')), (4, ref('resident_management.group_management')), (4, ref('resident_management.group_administration'))]"/>-->
        <field name="sequence">2</field>
    </record>

</odoo>
